{% extends 'base.html' %}
{% block content %}
<a href="{% url 'car_create' %}" class="btn btn-primary mb-3">Add New Car</a>
<div class="row">
    {% for car in cars %}
    <div class="col-md-4 mb-3">
        <div class="card">
            <img src="{{ car.image.url }}" class="card-img-top" alt="{{ car.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ car.name }}</h5>
                <p class="card-text">{{ car.brand }} - ${{ car.price }}</p>
                <a href="{% url 'car_detail' car.pk %}" class="btn btn-info">View</a>
                <a href="{% url 'car_update' car.pk %}" class="btn btn-warning">Edit</a>
                <form action="{% url 'car_delete' car.pk %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
